.custom-background {
  background-image: url('../assets/bg-1.jpg');
  background-size: cover;
  background-position: center;
};

.round{
border-radius: 30px;
}

.customImage {
  background-image: url('../assets/bg-1.jpg');
}